
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: #ff4411;
}

.icons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon-big {
    padding: 1rem;
    width: 10rem;
}

.icon-big:hover {
    cursor: pointer;
}

.icon-big.js:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.icon-big.py:hover {
    filter: drop-shadow(0 0 2em #5996ebd5);
}

.icon-big.types:hover {
    filter: drop-shadow(0 0 2em #1e92f7aa);
}

.icon-big.git:hover {
    filter: drop-shadow(0 0 2em #f36e02aa);
}

.icon-big.csharp:hover {
    filter: drop-shadow(0 0 2em #711ef7aa);
}

.icon-big.angular:hover {
    filter: drop-shadow(0 0 2em #f73e1eaa);
}



.icon-big:hover {
    filter: drop-shadow(0 0 2em #646cffaa);

}

.counter-btn {
    padding: 1.2rem;
    background-color: #f71e1eaa;
    margin: 0.5rem;
    transition: all 0.5s;
    border: none;
}

.counter-btn:hover {
    cursor: pointer;
    background-color: #fa8526aa;
    transform: scale(1.1);
}


